{
    "root": true,
    "extends": ["airbnb", "eslint:recommended", "prettier"],
    "plugins": ["import", "prettier"],
    "rules": {
        "prettier/prettier": ["error", {
            "endOfLine":"auto"
        }],
        "linebreak-style": "off",
        "react/jsx-filename-extension": "off"
    }
}